* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  /* background: rgb(235, 246, 250);
  margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

/* .container-list {
  padding: 2%;
  padding-left: 15%;
  background: rgb(235, 246, 250);
} */

/*container-list*/
.category {
  padding: 2%;
  padding-left: 15%;
  background: rgb(235, 246, 250);
}

.nav {
  grid-area: header;
}

/*review*/  
.feature {
  grid-area: feature;
  height: 100vh;
}

.main {
  grid-area: main;
  min-height: 1100px;
  display: flex;
  justify-content: center;
  padding: 2%;
}

/* .container {
  min-height: 1100px;
  display: flex;
  justify-content: center;
  padding: 2%;
} */

.main-feature-grid {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-areas:
    "header header"
    "main feature";
}

/*item wrapper*/
.item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* .flex-wrap {
  display: flex;
  flex-wrap: wrap;
} */

.item__description,
.item__price {
  font-size: 14px;
}

.quantity_input {
  box-shadow: 3px 3px 5px#d8d8d8;
}
/*---nav---*/
.nav {
  background:  rgb(6, 49, 143);
  height: 90px;
}

.nav__top {
  margin: 0;
  background: rgb(255, 115, 0);
  border-bottom: solid 3px rgb(250, 249, 249);
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav__item {
  width: 80px;
  margin: 5px 24px;
  background: none;
  border: rgb(218, 218, 218) 1px solid;
  padding: 2px 10px;
  text-align: center;
  display: inline-block;
}

.nav__item-right {
  width: 120px;
}

.nav__item:hover {
  background: rgb(226, 226, 226);
  background: white;
  border: gray 1px solid;
  color: black;
}

.nav__welcome {
  white-space: nowrap;
  padding: 5px 0;
  list-style: none;
}

.shopping__cart__btn {
  border: 1px #d8d8d8 solid;
  height: 36px;
  width: 66px;
  background: white;
  padding: 8px 20px 4px 10px;
  border-radius: 4px;
}

.shopping__cart__btn:hover {
  border: 1px #faf9f9 solid;
}

.fa-shopping-cart {
  font-size: 30px;
  /* color: rgb(252, 148, 84); */
  color: #b1b1b1;
}

.fa-shopping-cart:hover {
  color: #c9c9c9;
}

.fa-layers-counter {
  color: rgb(250, 197, 100);
}

/*--Side-bar--*/
.feature {
  display: flex;
  flex-direction: column;
}

.feature__title {
  margin: 4% auto;
  margin-bottom: 0;
}

.feature div {
  font-size: 1.4rem;
  padding: 6% 4%;
  font-weight: 500;
}

/*---Home page---*/
.homepage {
  background-image: url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  /* background-image: url("https://images.unsplash.com/photo-1529903384028-929ae5dccdf1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"); */
  background-position: center;
  background-size: cover;
  height: 90vh;
  /* height: 800px; */
  font-size: 4rem;
  text-align: center;
  font-weight: 200;
}

/*---Items List---*/
.item {
  width: 200px;
  margin: 20px 4%;
}

.item__image {
  background-size: cover;
  width: 200px;
  height: 267px;
  box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.item__image:hover {
  box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.item__brand {
  font-size: 18px;
}

.item__description {
  height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background: orange;
  border-radius: 5px;
  padding-bottom: 25px;
  border: 1px rgb(245, 224, 185) solid;
  box-shadow: 3px 3px 5px#d8d8d8;
}

.button:hover {
  color: white;
  background: rgb(255, 115, 0);
}

Form .button:nth-child(2) {
  float: right;
}

.item__brand-link:link,
.item__brand-link:visited {
  text-decoration: none;
  color: rgb(250, 96, 7);
}

.item__brand-link:hover {
  color: rgb(253, 159, 100);
}

.item__description-link:link {
  text-decoration: none;
  color: black;
}

.item__description-link:visited {
  color: black;
}

.item__description-link:hover {
  color: rgb(61, 61, 61);
}

input {
  appearance: textfield;
  width: 15%;
  margin: 2%;
}

button {
  width: 90px;
  height: 24px;
  background: rgb(201, 201, 252);
  border: 1px rgb(157, 170, 199) solid;
  border-radius: 5px;
  margin: 1%;
  cursor: pointer;
}

/*---Details---*/

.item-wrapper-center{
  margin-top: 4%;
  margin-left: 30%;
}

.item__image-detail {
  min-width: 250px;
  max-width: 300px;
  box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.item__description-wrapper {
  padding: 2% 5%;
  /* border: black dashed 1px; */
  min-width: 250px;
  max-width: 300px;
}

/*---Shopping Cart--*/
.shop-wrapper {
  /* margin: 5% 0 0 30%; */
  /* background: blue !important; */
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 40%;
}

.shop-btn {
  font-weight: 800;
  /* width: 35px; */
  width: 70px;
  margin: 2%;
  background: rgb(252, 211, 135);
  border: none;
}

.total {
  /* padding: 5px 0 0 0; */
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr;
  grid-gap: 1%;
}

.total__title {
  font-size: 1.4rem;
}

.total__item-count,
.total__sub-total {
  font-size: 1.2rem;
}

.item-cart-description {
  background: rgb(245, 245, 245);
  padding: 5%;
}

/*----Checkout Page----*/

/*stripe checkout css*/
.StripeCheckout span {
  /* background-image: none !important; */
  background: orange;
  /* border: 1px orange solid !important; */
  box-shadow: 3px 3px 5px#d8d8d8 !important;
  line-height: 1.5 !important;
}

.checkout {
  padding: 2%;
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.checkout__title {
  font-size: 1.2rem;
  font-weight: 600;
  /* background: rgb(229, 236, 237); */
  background-image: linear-gradient(-180deg,#44b1e8,#3098de);
  padding-left: 10%;
  box-shadow: 1px 1px 1px rgb(191, 190, 190);
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
}

 .checkout__panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid gray; */
  background: rgb(252, 251, 251);
  width: 450px;
  height: 250px;
  padding-top: 3%;
  box-shadow: 1px 1px 1px rgb(191, 190, 190);
  border-radius: 2px;
}

.checkout__labels-group,
.checkout__values-group {
  list-style: none;
}

.checkout__labels-group {
  margin-left: 20%;
}

.checkout__values-group {
  text-align: right;
  margin-right: 40%;
}

.checkout__total-before-tax {
  border-top: 1px gray solid;
  color: rgb(2, 59, 184);
  font-size: 1.05rem;
}

.checkout__total {
  border-top: 1px gray solid;
  color: green;
  font-size: 1.4rem;
}

.category__title {
  text-transform: capitalize;
}

/*---Order History---*/
.history {
  background: rgb(248, 250, 250);
  width: 60%;
  padding: 2%;
}

.history__purchase-total-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.history__wrapper {
  display: inline-flex;
  margin: 10px;
}

.history__image {
  width: 100px;
  height: 120px;
}

.history__details {
  font-size: .9rem;
}

.history__details-2 {
  font-size: .8rem;
}

/*--Complete Other-*/
.order-complete {
  font-size: 1.4rem;
  margin: 4% 10%;
  padding: 4%;
  height: 200px;
  background: rgb(226, 250, 234);
}  
.order-complete__delivery-date {
  font-size: 1.1rem;
}
/*---Footer---*/
#Footer {
  position: relative;
  font-weight: 400;
  margin-top: 5%;
  padding: 1% 0;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 925px) {
  .wrapper {
    /* display: grid; */
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "header header"
      "main main";
  }
  .feature {
    display: none;
  }
}
