body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 10%;
}

.navbar {
  grid-area: header;
}

/*review*/
.sidebar {
  grid-area: sidebar;
  height: 100vh;
}

.main {
  grid-area: main;
  /* padding-bottom: 20%; */
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

/*---navbar---*/

.navbar {
  background: #ececec;
  height: 50px;
  box-shadow: 3px 3px 5px#d8d8d8;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 5%;
}

.shoppingCart-btn {
  border: 1px #d8d8d8 solid;
  height: 36px;
  width: 66px;
  background: white;
  padding: 8px 20px 4px 10px;
  border-radius: 4px;
}

.shoppingCart-btn:hover {
  border: 1px #faf9f9 solid;
}

.fa-shopping-cart {
  font-size: 30px;
  /* color: rgb(252, 148, 84); */
  color: #b1b1b1;
}

.fa-shopping-cart:hover {
  color: #c9c9c9;
}

.fa-layers-counter {
  color: rgb(250, 197, 100);
}

.sidebar {
  /* background: #f3f3f3; */
  /* width: 220px; */
  padding-left: 80px;
  box-shadow: 3px 3px 5px #d8d8d8;
}

.sidebar div {
  font-size: 1.4rem;
  padding: 6% 4%;
  font-weight: 500;
}

/*Items List*/

.modelImage {
  width: 300px;
  height: 400px;
  background-size: cover;
}

.model, .modelImage {
  background-image: url(./image/model.jpg);
}
.model {
  background-size: cover;
  width: 200px;
  height: 267px;
}

.model:hover {
  box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.brand {
  font-size: 18px;
}

.description,
.price {
  font-size: 14px;
}

.item-container {
  width: 200px;
  margin: 20px 4%;
}

.description {
  height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
}

.brand-link:link,
.brand-link:visited {
  text-decoration: none;
  color: rgb(250, 96, 7);
}

.brand-link:hover {
  color: rgb(253, 159, 100);
}

.description-link:link {
  text-decoration: none;
  color: black;
}

.description-link:visited {
  color: black;
}

.description-link:hover {
  color: rgb(61, 61, 61);
}

input {
  appearance: textfield;
  width: 15%;
  margin: 2%;
}

/*---Item Details---*/
.details-container {
  display: grid;
  grid-template-columns: 30% 50%;
  grid-gap: 5%;
}

button {
  width: 90px;
  height: 24px;
  background: rgb(201, 201, 252);
  border: 1px rgb(157, 170, 199) solid;
  border-radius: 5px;
  margin: 1%;
  cursor: pointer;
}

/*---Shopping List--*/
.shopContainer {
  /* margin: 5% 0 0 30%; */
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 40%;
}

.shop-btn {
  font-weight: 800;
  /* width: 35px; */
  width: 70px;
  margin: 2%;
  background: rgb(252, 211, 135);
  border: none;
}

/* hr {
  width: 80%;
  float: left;
} */

.total-container {
  padding: 5px 40% 10% 10%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 1%;
}

.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  width: 450px;
  height: 400px;
}

.your-order {
  font-size: 1.2rem;
  font-weight: 600;
}

.total-title {
  font-size: 1.8rem;
}

.item-count, .sub-total{
  font-size: 1.6rem;
}

.sales-title-group, .sales-number-group {
  list-style: none;
}

.sales-title-group {
  margin-left: 20%;
}

.sales-number-group {
  text-align: right;
  margin-right: 40%;
}

.total-before-tax {
  border-top: 1px gray solid;
  color: rgb(2, 59, 184);
  font-size: 1.05rem;
}

.sales-total{
  border-top: 1px gray solid;
  color: green;
  font-size: 1.4rem;
}