:root {
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Belleza", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.nav {
  grid-area: header;
}

.button {
  width: 90px;
  height: 24px;
  margin: 1%;
  padding-bottom: 25px;
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgb(240, 114, 11)),
    color-stop(85%, rgb(255, 115, 0)),
    to(rgb(206, 102, 22))
  );
  background-image: -o-linear-gradient(
    rgb(240, 114, 11),
    rgb(255, 115, 0) 85%,
    rgb(206, 102, 22)
  );
  background-image: linear-gradient(
    rgb(240, 114, 11),
    rgb(255, 115, 0) 85%,
    rgb(206, 102, 22)
  );
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.75;
}

.button:hover {
  color: var(--color-white);
  background: rgb(151, 57, 3);
}

Form .button:nth-child(2) {
  float: right;
}

/*----layout----*/
.feature {
  grid-area: feature;
}

.main {
  grid-area: main;
  min-height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-feature-grid {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "feature feature";
}

/*----nav----*/
.navbars {
  width: 100%;
  margin: 0;
  font-size: 0.8rem;
  height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__top {
  background: -webkit-gradient(linear, left top, left bottom, from(#14a5ee), to(#1292d3));
  background: -o-linear-gradient(top, #14a5ee, #1292d3);
  background: linear-gradient(-180deg, #14a5ee, #1292d3);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__bottom {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ac6f5), to(#44b1e8));
  background: -o-linear-gradient(top, #6ac6f5, #44b1e8);
  background: linear-gradient(-180deg, #6ac6f5, #44b1e8);
}

.nav__welcome,
.nav__item {
  width: 80px;
  margin: 5px 1%;
  padding: 2px 10px;
  text-align: center;
  list-style: none;
  color: var(--color-white);
}

.nav__welcome,
.nav__item-right {
  width: 120px;
}

.nav__welcome,
.nav__item-right-color {
  color: var(--color-white);
}

.nav__item-right-color:hover {
  color: var(--color-white);
  text-decoration: underline;
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue;
}

.nav__item:hover {
  background: orange;
  border-radius: 4px;
}

.nav__welcome {
  white-space: nowrap;
  padding: 5px 0;
  list-style: none;
}

.shopping__cart__btn {
  border: 1px #d8d8d8 solid;
  height: 34px;
  width: 60px;
  background: var(--color-white);
  padding: 0.3rem 0.8rem 0.25rem 0.1rem;
  border-radius: 4px;
}

.shopping__cart__btn:hover {
  color: var(--color-white);
}

.fa-shopping-cart {
  font-size: 1.9rem;
  color: #b1b1b1;
}

.fa-shopping-cart:hover {
  color: #c9c9c9;
}

.fa-layers-counter {
  color: rgb(250, 197, 100);
}

/*----Message----*/

.alert {
  text-align: center;
  margin-bottom: 0 !important;
}

/*----Form----*/
.input-margin {
  margin-bottom: 1rem;
}

/*----Register----*/
.register-btn {
  margin-top: 2rem;
}

/*----Login----*/
.login {
  margin-top: 2%;
  margin-bottom: 100vh;
}

.login__form-group {
  margin-top: 8%;
  margin: auto;
  width: 50%;
}

.login__title {
  text-align: center;
}

.submit-btn {
  height: 40px;
  background: #ff8000 !important;
  border: none !important;
}

/*---Home page----*/
.homepage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.1))),
    url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 200;
  color: var(--color-white);
}

/*---Feature-Bar----*/

.feature {
  background: #ebf6fa;
}
.feature__title {
  margin-top: 0.5rem;
  margin-left: 1.4rem;
}

.feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature div {
  font-size: 1.4rem;
  padding: 6% 4%;
  font-weight: 500;
}

/*---Items List----*/

.item {
  width: 200px;
  margin: 20px 4%;
}

.item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__description,
.item__price {
  font-size: 14px;
}

.input__quantity {
  -webkit-box-shadow: 3px 3px 5px#d8d8d8;
          box-shadow: 3px 3px 5px#d8d8d8;
}

.item__image {
  background-size: cover;
  width: 200px;
  height: 267px;
  -webkit-box-shadow: 3px 3px 5px rgb(133, 133, 161);
          box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.item__image:hover {
  -webkit-box-shadow: 3px 3px 5px rgb(133, 133, 161);
          box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.item__brand {
  font-size: 18px;
}

.item__description {
  height: 84px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.item__brand-link:link,
.item__brand-link:visited {
  text-decoration: none;
  color: rgb(250, 96, 7);
}

.item__brand-link:hover {
  color: rgb(253, 159, 100);
}

.item__description-link:link {
  text-decoration: none;
  color: black;
}

.item__description-link:visited {
  color: black;
}

.item__description-link:hover {
  color: rgb(61, 61, 61);
}

input {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  width: 15%;
  margin: 2%;
}

/*---Details----*/

.details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.item__image-detail {
  min-width: 250px;
  max-width: 300px;
  height: 450px;
  -webkit-box-shadow: 3px 3px 5px rgb(133, 133, 161);
          box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.item__description-wrapper {
  padding: 2% 5%;
  min-width: 250px;
  max-width: 300px;
}

/*---Shopping Cart----*/

.shop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-items {
  width: 200px;
  margin: 1rem;
}

.shop__cart-description-wrapper {
  background: rgb(245, 245, 245);
  padding: 5%;
}

.shop__image {
  background-size: cover;
  width: 200px;
  height: 267px;
  -webkit-box-shadow: 3px 3px 5px rgb(133, 133, 161);
          box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.shop__image:hover {
  -webkit-box-shadow: 3px 3px 5px rgb(133, 133, 161);
          box-shadow: 3px 3px 5px rgb(133, 133, 161);
}

.shop__brand {
  font-size: 18px;
}

.shop__description {
  height: 100px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.shop__brand-link:link,
.shop__brand-link:visited {
  text-decoration: none;
  color: rgb(250, 96, 7);
}

.shop__brand-link:hover {
  color: rgb(253, 159, 100);
}

.shop__description-link:link {
  text-decoration: none;
  color: black;
}

.shop__description-link:visited {
  color: black;
}

.shop__description-link:hover {
  color: rgb(61, 61, 61);
}

.shop-btn {
  font-weight: 800;
  width: 70px;
  margin: 2%;
  border: none;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-flex {
  margin: 0.5rem;
  font-size: 1rem;
}

/*---Checkout Page----*/
.StripeCheckout span {
  font-family: "Belleza", sans-serif !important;
}

.StripeCheckout span:hover {
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgb(162, 218, 250)),
    color-stop(85%, rgb(113, 201, 252)),
    to(rgb(115, 200, 250))
  ) !important;
  background: -o-linear-gradient(
    rgb(162, 218, 250),
    rgb(113, 201, 252) 85%,
    rgb(115, 200, 250)
  ) !important;
  background: linear-gradient(
    rgb(162, 218, 250),
    rgb(113, 201, 252) 85%,
    rgb(115, 200, 250)
  ) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.checkout {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout-btn {
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgb(250, 213, 90)),
    color-stop(85%, rgb(243, 199, 53)),
    to(rgb(235, 181, 5))
  );
  background: -o-linear-gradient(
    rgb(250, 213, 90),
    rgb(243, 199, 53) 85%,
    rgb(235, 181, 5)
  );
  background: linear-gradient(
    rgb(250, 213, 90),
    rgb(243, 199, 53) 85%,
    rgb(235, 181, 5)
  );
}

.checkout__title {
  font-size: 1.2rem;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#44b1e8), to(#3098de));
  background-image: -o-linear-gradient(top, #44b1e8, #3098de);
  background-image: linear-gradient(-180deg, #44b1e8, #3098de);
  padding-left: 10%;
  -webkit-box-shadow: 1px 1px 1px rgb(191, 190, 190);
          box-shadow: 1px 1px 1px rgb(191, 190, 190);
  color: var(--color-white);
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
}

.checkout__panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(252, 251, 251);
  width: 450px;
  height: 250px;
  padding-top: 3%;
  -webkit-box-shadow: 1px 1px 1px rgb(191, 190, 190);
          box-shadow: 1px 1px 1px rgb(191, 190, 190);
  border-radius: 2px;
}

.checkout__labels-group,
.checkout__values-group {
  list-style: none;
}

.checkout__labels-group {
  margin-left: 20%;
}

.checkout__values-group {
  text-align: right;
  margin-right: 40%;
}

.checkout__total-before-tax {
  border-top: 1px gray solid;
  color: rgb(2, 59, 184);
  font-size: 1.05rem;
}

.checkout__total {
  border-top: 1px gray solid;
  color: green;
  font-size: 1.4rem;
}

.category__title {
  text-transform: capitalize;
}

/*----Order History----*/
.history {
  background: rgb(248, 250, 250);
  width: 80%;
  padding: 3%;
}

.history__purchase-total-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.history__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0.6rem;
}

.history__image {
  width: 100px;
  height: 120px;
}

.history__details {
  font-size: 0.9rem;
}

.history__details-2 {
  font-size: 0.8rem;
}

/*----Complete Other-*/
.order-complete {
  width: 90%;
  height: 50%;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(185, 184, 184);
}

.order-complete__title {
  font-size: 1.5rem;
  background: gold;
  padding-left: 5%;
}

.order-complete__delivery-date {
  font-size: 0.9rem;
  padding: 5%;
}
/*----Footer----*/
#Footer {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  background: orange;
  color: var(--color-white);
  text-shadow: 1px 1px 1px rgb(161, 161, 161);
}

/*----Media Query----*/
@media only screen and (min-width: 740px) {
  .homepage {
    font-size: 3rem;
  }

  .main-feature-grid {
    display: grid;
    grid-template-columns: 1fr 15rem;
    grid-template-areas:
      "header header"
      "main feature";
  }

  .nav__welcome,
  .nav__item {
    font-size: 1rem;
  }
  .total__title,
  .total__item-count,
  .total__sub-total {
    font-size: 1.2rem;
  }

  .order-complete__title {
    font-size: 1.75rem;
  }

  .order-complete__delivery-date {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 925px) {
  .homepage {
    font-size: 3.5rem;
  }
  .nav__welcome,
  .nav__item {
    font-size: 1.1rem;
  }
  .order-complete {
    width: 60%;
  }
}
